.modalOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.generatedItemRulesSelect {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
